In [13]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://ebianco:C00kies!1589@54.86.120.50:5432/ebianco')

In [17]:
pd.read_sql_query('''SELECT * FROM news LIMIT 5''',cnx)

DatabaseError: (psycopg2.DatabaseError) could not receive data from server: Operation timed out
 [SQL: 'SELECT * FROM news LIMIT 5']

In [15]:
pd.read_sql_query('''SELECT * FROM schools LIMIT 5''',cnx)

,schoolid,schoolname,schoolcity,schoolstate,schoolnick
0,abilchrist,Abilene Christian University,Abilene,TX,Wildcats
1,adelphi,Adelphi University,Garden City,NY,Panthers
2,adrianmi,Adrian College,Adrian,MI,Bulldogs
3,airforce,United States Air Force Academy,Colorado Springs,CO,Falcons
4,akron,University of Akron,Akron,OH,Zips

In [16]:
pd.read_sql_query('''SELECT schoolstate,Count(schoolid) as ct FROM schools Group By schoolstate ORDER BY ct DESC LIMIT 5''',cnx)

  schoolstate  ct
0          PA  57
1          CA  48
2          NY  45
3          TX  41
4          OH  33