In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  1.936518  1.123554  0.387721 -0.880862
2013-01-02  1.363037 -0.859891 -0.443896  1.030182
2013-01-03  1.534028  0.340273  0.002951 -1.381193
2013-01-04 -0.293799 -0.518274 -1.060574  1.116009
2013-01-05 -0.738344  1.257059  1.210137  0.101176
2013-01-06  1.127490  0.832016 -0.058245 -1.539683

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(['test','train','test','train']),
                    'F' : 'foo'
    })

In [11]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head()

                   A         B         C         D
2013-01-01  1.936518  1.123554  0.387721 -0.880862
2013-01-02  1.363037 -0.859891 -0.443896  1.030182
2013-01-03  1.534028  0.340273  0.002951 -1.381193
2013-01-04 -0.293799 -0.518274 -1.060574  1.116009
2013-01-05 -0.738344  1.257059  1.210137  0.101176

In [14]:
df.head(2)

                   A         B         C         D
2013-01-01  1.936518  1.123554  0.387721 -0.880862
2013-01-02  1.363037 -0.859891 -0.443896  1.030182

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.293799 -0.518274 -1.060574  1.116009
2013-01-05 -0.738344  1.257059  1.210137  0.101176
2013-01-06  1.127490  0.832016 -0.058245 -1.539683

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')