In [ ]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://ebianco:C00kies!1589@54.86.120.50:5432/ebianco')

In [1]:
%load_ext sql

//anaconda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql postgresql://ebianco:C00kies!1589@54.86.120.50:5432/ebianco

'Connected: ebianco@ebianco'

<b>Challenge 1</b>

What customers are from the UK?

In [13]:
%sql SELECT * FROM Customers WHERE "Country" = 'UK';

7 rows affected.

[('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', None, 'EC2 5NT', 'UK', '(171) 555-1212', None),
 ('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Sales Representative', 'Berkeley Gardens 12  Brewery', 'London', None, 'WX1 6LT', 'UK', '(171) 555-2282', '(171) 555-9199'),
 ('EASTC', 'Eastern Connection', 'Ann Devon', 'Sales Agent', '35 King George', 'London', None, 'WX3 6FW', 'UK', '(171) 555-0297', '(171) 555-3373'),
 ('ISLAT', 'Island Trading', 'Helen Bennett', 'Marketing Manager', 'Garden House Crowther Way', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK', '(198) 555-8888', None),
 ('NORTS', 'North/South', 'Simon Crowther', 'Sales Associate', 'South House 300 Queensbridge', 'London', None, 'SW7 1RZ', 'UK', '(171) 555-7733', '(171) 555-2530'),
 ('SEVES', 'Seven Seas Imports', 'Hari Kumar', 'Sales Manager', '90 Wadhurst Rd.', 'London', None, 'OX15 4NB', 'UK', '(171) 555-1717', '(171) 555-5646')]

<b>Challenge 2</b>

What is the name of the customer who has the most orders?

In [28]:
%%sql 
SELECT' CustomerName', COUNT(*) as ordercount FROM Customers AS c JOIN Orders AS o ON c.CustomerID = o.CustomerID GROUP BY o.CustomerID ORDER BY ordercount DESC LIMIT 1;

(psycopg2.ProgrammingError) column c.customerid does not exist
LINE 1: ...rdercount FROM Customers AS c JOIN Orders AS o ON c.Customer...
                                                             ^
 [SQL: "SELECT' CustomerName', COUNT(*) as ordercount FROM Customers AS c JOIN Orders AS o ON c.CustomerID = o.CustomerID GROUP BY o.CustomerID ORDER BY ordercount DESC LIMIT 1;"]

<b>Challenge 3</b>

What supplier has the highest average product price?

<b>Challenge 4</b>

How many different countries are their customers from? (Hint: Consider DISTINCT.)

<b>Challenge 5</b>

What category appears in the most orders?

<b>Challenge 6</b>

What was the total cost for each order?

<b>Challenge 7</b>

What employee made the most sales (by total cost)?

<b>Challenge 8</b>

What employees have BS degrees? (Hint: Look at the LIKE operator.)

<b>Challenge 9</b>

What supplier of three or more products has the highest average product price? (Hint: Look at the HAVING operator.)