SQL Challenges

The core SQL challenges consist of the activities at the end of the SQL lab.

Challenge 1

What customers are from the UK?

SELECT * FROM Customers WHERE Country='UK';

Around the Horn
B's Beverages
Consolidated Holdings
Eastern Connection
Island Trading
North/South
Seven Seas Imports

Challenge 2

What is the name of the customer who has the most orders?

In [ ]:
SELECT
    CustomerName,
    COUNT(*) as OrderCount
FROM
    Customers as customers
  JOIN
    Orders as orders
  ON customers.CustomerID = orders.CustomerID
GROUP BY orders.CustomerID
ORDER BY OrderCount DESC
LIMIT 1;



Ernst Handel: 10

Challenge 3

What supplier has the highest average product price?

In [ ]:
SELECT
    SupplierName, AVG(p.Price) as avgprice
FROM
    Suppliers as suppliers
  JOIN
    Products as products
  ON suppliers.SupplierID = products.SupplierID
GROUP BY suppliers.SupplierID
ORDER BY avgprice DESC
LIMIT 1;


Aux joyeux eccl√©siastiques	140.75

Challenge 4

How many different countries are their customers from? (Hint: Consider DISTINCT.)

In [ ]:
SELECT COUNT(DISTINCT(Country)) AS n FROM Customers;

21

Challenge 5

What category appears in the most orders?

In [ ]:
SELECT
    CategoryName
FROM
    Categories as categories
  JOIN
    OrderDetails as orders
  JOIN
    Products as products
  ON categories.categoryID = products.categoryID
      AND
    orders.ProductID = products.ProductID
GROUP BY category.categoryID
ORDER BY COUNT(*) DESC
LIMIT 1;

Dairy Products

Challenge 6

What was the total cost for each order?

In [ ]:
SELECT
    o.OrderID,
    SUM(o.Quantity * p.Price) as Total
FROM
    OrderDetails as o
  JOIN
    Products as p
  ON
    o.ProductID = p.ProductID
GROUP BY o.OrderID
ORDER BY Total DESC;


OrderID	Total
10372	15353.6
10424	14366.5
10417	14104
10353	13427
10360	9244.250000000002
10324	7698.45
10440	7246.01
10430	7245
10351	7103.599999999999
10329	6025.12
10305	5197.25
10267	5040

Challenge 7

What employee made the most sales (by total cost)?

In [ ]:
SELECT
    e.FirstName,
    e.LastName,
    SUM(op.Quantity * p.Price) as Total
FROM
    Employees as e
  JOIN
    Orders as o
  JOIN
    OrderDetails as op
  JOIN
    Products as p
  ON
      e.EmployeeID = o.EmployeeID
    AND
      o.OrderID = op.OrderID
    AND
      op.ProductID = p.ProductID
GROUP BY e.EmployeeID
ORDER BY Total DESC;

Margaret Peacock

Challenge 8

What employees have BS degrees? (Hint: Look at the LIKE operator.)

In [ ]:
SELECT * FROM Employees WHERE Notes LIKE '%BS%';

Janet Leverling
Steven Buchanan

Challenge 9

What supplier of three or more products has the highest average product price? (Hint: Look at the HAVING operator.)

In [ ]:
SELECT
    SupplierName,
    COUNT(*) as NumProducts,
    AVG(p.Price) as MeanPrice
FROM
    Suppliers AS s
  JOIN
    Products AS p
  ON s.SupplierID = p.SupplierID
GROUP BY s.SupplierID
HAVING 3 <= NumProducts
ORDER BY MeanPrice DESC;

Tokyo Traders